* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 10px;
}

img {
  width: 96px;
}

h1{
  text-align: center ;
}

#pokedex {
  margin: 18px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;;
}